body {
    background-color: lightblue;
}

h1 {
     color: black;
     text-align: center;
}


h3 {
     color: black;
     text-align: left;
}

 p {
     font-family: verdana;
     font-size: 20px;
	 text-align: left;
	 
	 
	 
}

div {
	 position: top;
     right: 0px;
     width: 70px;
     padding: 10px;

}



